body{
    display:block;
    font-family: fantasy;
    background-color:white;
    background-repeat: no-repeat;
    background-size:cover ;
}
.container
{
    position: relative;
    height:600px;
    left:0px;
   
}
#content1{
    font-family:'sans-serif';
    color:black;
}
.header
 {
    height:140px;
    width:100%; 
    background-color:red;
    background-size: 300px;
    background-repeat: no-repeat;
    border-bottom:2px solid #fafdfc;
    padding-top: 50px;
    font-size: 60px;
   color:white;
   font-family:fantasy;
    
}
#content{
    font-size: 20px ;
    color: Black
}
#description{
    font-size:25px;
}
.button{
    position:absolute;
    height:100px;
    top:46px;
    right:60px;
    width:100px;
    text-align:center;
}
button{
    color:black;
    height:35px;
    width:150px;
    font-family:fantasy;
    font-size:25px;
    background-color: white; 
    border: 2px solid #fe3333;
    border-radius: 8px;

    
}

#data
{
    width:99%;
    height:450px;
    text-align: right;
    justify-content: center;
    display: flex;   
    
}
.table
{
    width:800px;

}
table{
    color:rgb(243, 118, 16);
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    font: 700;
    
}
table tr :hover{
    background-color:lightgray;

}
img{
    clip-path: circle();
}
.welcome{
    font-family: 'Bebas Neue', cursive;
    color: rgb(81, 68, 87);
    padding-top: 120px;
}